* {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  ul,
  ol {
    list-style-type: none;
  }
  
  :root {
    --primary-font:  "Roboto Condensed", sans-serif;
    --secondary-font: "Roboto", sans-serif;
    --primary-text-color: #444444;
    --secondary-text-color: #BEBEBE;
  } 